<div id="" class="teaser-tile bg-light">
  <gc-tabs>
    <gc-tab id="accordion" [tabTitle]="'Konfigurator'">
      <gc-accordion>
        <gc-item id="testitem" [itemTitle]="'Größe'" [itemId]="'collapse1'" [iconClass]="'mdi-cup'">
          <gc-size></gc-size>
        </gc-item>
        <gc-item [itemTitle]="'Upload Design'" [itemId]="'collapse2'" [iconClass]="'mdi-upload'">
          <gc-upload></gc-upload>
        </gc-item>
        <gc-item [itemTitle]="'Optionen'" [itemId]="'collapse3'" [iconClass]="'mdi-settings'">
          <p>Für diesen Becher sind zur Zeit noch keine weiteren Optionen verfügbar.</p>
        </gc-item>
      </gc-accordion>


      <!--<ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center collapsed" data-toggle="collapse" href="#collapseSize" aria-expanded="true" aria-controls="collapseSize"></span>Größe</a>
          <div class="collapse show" id="collapseSize" data-parent="#accordion">
            <gc-size></gc-size>
          </div>
        </li>
        <li class="nav-item">
          <a id="design" class="nav-link d-flex align-items-center collapsed" data-toggle="collapse" href="#collapseDesign" aria-expanded="false" aria-controls="collapseOptions"><span class="mr-5 mdi mdi-upload"></span>Design</a>
          <div class="collapse" id="collapseDesign" data-parent="#accordion">
            <gc-upload></gc-upload>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center collapsed" data-toggle="collapse" href="#collapseOptions" aria-expanded="false" aria-controls="collapseDesign"><span class="mr-5 mdi mdi-settings"></span>Optionen</a>
          <div class="collapse" id="collapseOptions" data-parent="#accordion">

          </div>
        </li>
      </ul>-->
    </gc-tab>
    <gc-tab [tabTitle]="'Übersicht'">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <gc-overview></gc-overview>
          </div>
        </div>
      </div>
    </gc-tab>
  </gc-tabs>
</div>
