<div id="container" class="h-100">
  <div class="row h-100">
    <div class="col-xl-8 col-lg-6 col-sm-12 h-100" style="overflow: hidden;">
      <div id="main" class="h-100 p-sm-0">
        <button (click)="openNav()" class="d-sm-none d-block bg-dark" style="position: absolute; top: 20px; right: 20px;"><span class="mdi mdi-menu"></span></button>
        <gc-scene></gc-scene>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12" style="overflow-y: scroll; min-height: 100%;">
      <div id="mySidenav" class="sidenav h-100">
        <a href="javascript:void(0)" class="closebtn d-sm-none d-block" (click)="closeNav()">&times;</a>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

