<div id="container" class="container-fluid" style="height: 100%;">
  <div class="row h-100">
    <div class="col-xl-8 col-lg-6 col-sm-12">
      <div id="main">
        <span class="d-sm-none d-block" (click)="openNav()">open</span>
        <gc-scene></gc-scene>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div id="mySidenav" class="sidenav h-100">
        <a href="javascript:void(0)" class="closebtn d-sm-none d-block" (click)="closeNav()">&times;</a>
        <gc-sidebar></gc-sidebar>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
