<div id="container" class="container-fluid" style="height: 100%;">
  <div class="row h-100">
    <div class="col-xl-8 col-lg-6 col-sm-12 h-100">
      <div id="main" class="h-100">
        <span class="d-sm-none d-block text-right" style="font-size: 3rem; position: absolute; top: 0; right: 20px;" (click)="openNav()">+</span>
        <gc-scene></gc-scene>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12 h-100">
      <div id="mySidenav" class="sidenav h-100">
        <a href="" class="closebtn d-sm-none d-block" (click)="closeNav()">&times;</a>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
