<div id="table-1" class="teaser-tile p-3">
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Option</th>
      <th scope="col">Auswahl</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Größe</td>
      <td> {{dataServ.size}} Liter </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Anzahl</td>
      <td>500 Stück</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Design</td>
      <td>{{dataServ.designName}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Eichstrich</td>
      <td>Ja</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Preis</td>
      <td>9999€</td>
    </tr>
    </tbody>
  </table>
</div>