<div id="" class="teaser-tile h-100">
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header w-100">
                <a class="navbar-brand" >Design hochladen</a>
                <a class="navbar-brand float-right" routerLink='/' routerLinkActive="active"><i class="mdi mdi-backspace text-dark">

                </i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-12">
                <div class="dropzone well my-drop-zone mb-4"
                     gcDragDrop
                     (filesChangeEmiter)="onFilesChange($event)">

                    <div class="text-wrapper">
                        <div class="centered">Drop your file here!</div>
                    </div>
                </div>
                <input id="design" type="file" (change)="onFileSelected($event)"/>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-12" style="margin-bottom: 40px">

                <table class="table my-3">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>{{ this.DataServ.designName }}</strong></td>
                        <td>{{ this.DataServ.designSize/1024/1024 | number:'.2' }} MB</td>
                        <td class="text-center">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                            <span><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <button type="button" class="btn btn-success btn-s"
                            (click)="three.reloadTexture(this.DataServ.selectedImage)" [disabled]="!this.DataServ.state">
                        <span class="glyphicon glyphicon-upload"></span> Design rendern
                    </button>
                    <!--<button type="button" class="btn btn-danger btn-s"
                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Design entfernen
                    </button>-->
                </div>

            </div>

        </div>

    </div>
</div>
