<div id="" class="teaser-tile">
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header w-100">
                <a class="navbar-brand" >Design hochladen</a>
                <a class="navbar-brand float-right" routerLink='/' routerLinkActive="active">
                    <i class="mdi mdi-backspace text-dark"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-12 ">
                <div class="dropzone well my-drop-zone mb-4"
                     gcDragDrop
                     [allowed_ext]="['image/png']"
                     (filesChangeEmiter)="onFilesChange($event)">
                    <div class="text-wrapper">
                        <div class="centered">Ziehe das Design hierher!</div>
                    </div>
                </div>
                <div class="custom-file p-0">
                    <input gcSelect
                           (filesChangeEmiter)="onFilesChange($event)"
                           [allowed_ext]="['image/png']"
                           [accept]="'.png'"
                           id="design"
                           class="custom-file-input form-control-sm  p-0"
                           type="file"/>
                    <label id="designLabel" class="custom-file-label py-0" for="design">
                        {{showInputLabel()}}
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-12" style="margin-bottom: 40px">
                <table class="table my-3">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Größe</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>{{ this.data.designName }}</strong></td>
                        <td>{{ this.data.designSize/1024/1024 | number:'0.2' }} MB</td>
                        <td class="text-center">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <a type="button" class="btn btn-success btn-s text-white" [ngClass]="isDisabled()"
                            (click)="this.data.loadDesign()">
                        <span class="glyphicon glyphicon-upload"></span> Design rendern
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>
