.my-drop-zone {
  border: dotted 3px lightgray;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

:host > div{
  background-color: #eee;
}

.btn-success {
  width: max-content;
}

.custom-file-label,
.custom-file-label::after {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.custom-file-label,
.custom-file-label::after {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
